<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cysion.train">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <!-- //地图SDK（包含其搜索功能）需要的基础权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 最大长宽比 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1"/>
        <!--  -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value=""/>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".activity.TrainOrgActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.TrainDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CollectActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MapActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.PersonActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.EnrollInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.EnrollSucessActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".activity.PayDescActivity"
                  android:screenOrientation="portrait"
            >
        </activity>
    </application>

</manifest>